body {
	font-family: tahoma;
	font-size: 20px;
}

#display {
	border: 1px solid black;
	height: 24px;
	padding: 2px;
}

#uitkomst {
	border: 1px solid black;
	height: 24px;
	padding: 2px;
	background-color: lightgreen;
}